[Unit]
Description=jarservice_app
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/java -jar /opt/{{jarservice_name}}/jarservice.jar
ExecStop=/usr/bin/pkill jarservice
WorkingDirectory=/opt/{{jarservice_name}}
Type=simple
Restart=on-failure
User={{runas_user}}

[Install]
WantedBy=multi-user.target
